<app-header></app-header>
<app-side-nav></app-side-nav>

<div class="one" style="margin-left: 500px">
  <router-outlet>
    <h1>hello {{txt2}}</h1>
  </router-outlet>
  <div class="dropdown">
    <button class="dropbtn">Dropdown
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a (click)="chartone()">Graph 1</a>
      <a (click)="charttwo()">Graph 2</a>
    </div>
  </div>

  <!-- <button (click)=salesChart()></button> -->
  <google-chart #chart id="chart1" style="display:none;" [title]="title" [type]="type" [data]="data"
    [columnNames]="columnNames" [options]="options" [width]="width" [height]="height">
  </google-chart>

  <google-chart #chart id="chart2" style="display:none;" [title]="title" [type]="type" [data]="data"
    [columnNames]="columnNames" [options]="options" [width]="width" [height]="height">
  </google-chart>
</div>

<!-- <script src="https://www.gstatic.com/charts/loader.js"></script> -->
<!-- <select onchange="valueChanged(this.value)" id="menu">
  <option selected value="1">livejournal</option>
  <option value="2">librarybooks</option>
  <option value="3">sunspots</option>
</select>

<div id="chart_div"></div> -->
